

.moveNavbar {
    margin-top: 2%;
}

.navbar-default {
    background-color: #141622;
    color: white;
    font-family: "Georgia";
    font-weight: bolder;
   }


   .TopRow {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
   }

   .TopRow p, h3, h4 {
       font-family: "Verdana";
   }

   .BioSection {
       padding-top: 5%;
   }

   .bottomRow {
        /* background-color: orange; */
        margin-top: 2%;
   }

   .circle {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;   
   }

.imagePlacement {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 5%;
}


/* BUTTON */
.btnCustom {
    background-color: #073B15;
    color: white;
}

.btnCustom2 {
    background-color: #855845;
    color: white;
}

.btnCustom3 {
    background-color: #3A383B;
    color: white;
}

.btnColor {
    border: 2px solid #141622;
    background-color: white;
    color:#141622;
}

.spacing {
    margin-bottom: 5%;
}

.linkStyle {
    text-decoration: none;
}