
.customColor {
    background-color: #F8F9FA;
    border-radius: 10px;
}

.customCenterContent {
    display: flex;
    justify-content: center;
}

.paddingTop {
    padding-top: 8%;
}

a { 
    text-decoration: none;
    color: black;
}


/* navbar */

.navbar-default {
    background-color: #141622;
    color: white;
    font-family: "Georgia";
    font-weight: bolder;
   }



/* IMAGE SECTION */

    .circle {
        height: 350px;
        width: 350px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;   
    }







/* MY WORK PAGE */

#MyWork h1 {
    margin-bottom: 5%;
    margin-top: 5%;
   }


#MyWork section {
    padding-bottom: 5%;
}

.cardSize {
    width: 16rem;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }

.zoom:hover {
    transform: scale(1.1);
  }


  

/* CONTACT PAGE */

.customSpacing {
    margin-top: 5%;
}

.btnColor {
    border: 2px solid #141622;
    background-color: white;
    color:#141622;
}

.spacing {
    margin-bottom: 5%;
}

.linkStyle {
    text-decoration: none;
    color: #141622;
}