
body {
    /* background-color: #2E3347; */
    /* text-align: center; */
}

h1 {
    color: #1C0950;
}

.name {
 margin-top: 1%; 
 padding-bottom: 3%;
}

.navbar-default {
    background-color: #141622;
    /* background-color: red; */
    color: white;
    background-image: none;
    background-repeat: no-repeat;
   }
